{% extends "base.html" %}

{% block titulo %}
<meta charset="UTF-8">
<title>Acerca de mí</title>
{% endblock titulo %}

{% block contenido %}
<h1 style="color:green;">
    Bienvenidos a mi Blog
</h1>
<h3>Sobre Mi:</h3>
<body>
    
    <p>Acerca de : Arian</p>
    <p>Edad: 18 </p>
    <p>Profesión: Estudiante</p>
    
    <h2>Intereses:</h2>
    <p>Hola Mi nombre es Arian Juarez, soy de Argentina ,actualmente resido en Cordoba , y estos son mis intereses.<br>
        Me gusta el futbol desde pequeño juego desde que tengo memoria y siempre soñe llegar a primera y sigo intentando conseguirlo<br>
         Otro interes y pasion que tengo son los autos ya que desde muy chico mi familia me crio rodeado de ellos<br>
         Soy una persona muy autonoma e independiente que le gusta exigirse y autosuperarse en cada desafio presente del dia a dia<br>
        Constantemente estoy en busca de seguir aprendiendo cada dia mas<br>
        Y por ultimo una de las cosas que mas valoro y disfruto son mi familia.
    </p>
    
</body>

{% endblock contenido %}